
Header set Access-Control-Allow-Origin "*"
apachectl -t

sudo service apache2 reload

RewriteEngine On

# Si el archivo y la carpeta no existen hacer siguiente reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecciona todas las peticiones a index
RewriteRule ^ home.html [QSA,L]